* body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

h4{
    padding: 0px;
    margin-bottom: 5px;
}

.social-links li,
.technical-skills ul,
.technical-skills li,
nav ul,
nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.header-title {
    padding-left: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    flex-flow: row;
    font-size: medium;
    font-weight: bolder;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.nav-item > a:hover {
    transition: 0.3s ease;
}

section {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    scroll-margin-top: 5em;
    padding-bottom: 2.5rem;
}

#about {
    flex-flow: row;
}

.content-section {
    display: flex;
    flex-flow: column;
    text-align: justify;
    padding: 0rem 1.5rem;
}

.content {
    font-size: 1rem;
}

.technical-skills-list > li {
    padding-bottom: 0.25rem;
}

.profile-section {
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    align-items: center;
    width: max-content;
    padding: 1rem;
    
}

.profile{
    display: flex;
    border: 2px solid gainsboro;
    border-radius: 100%;
    background-position: top;
    background-size: cover;
}

.profile-headline {
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
}

.profile-subheadline {
    text-align: center;
    font-size: 18px;
}

.content-header {
    text-align: center;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 0.5rem;
}

.social-item {
    transition: transform .2s;
}

.social-item:hover {
    transform: scale(1.3);
}

.external-link {
    border: 1px solid;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    transition: transform .2s;
}

.external-link:hover {
    transform: scale(1.05);
}

.publication-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.publication-panel {
    padding: 2rem;
    font-family: 'Times New Roman';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.publication-author {
    padding-bottom: 0.5rem;
}

.publication-author,
.publication-journal {
    font-size: 14px;
}

.publication-abstract > p {
    text-align: justify;
}

.publication-link > a,
.project-link > a {
    border: 1px solid;
    padding: 0.2rem 1rem;
    border-radius: 5px;
}

.project-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: end;
    justify-content: space-evenly;
    gap: 4rem;
    padding-bottom: 1rem;
}

.project-panel {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2.5rem;
    max-width: 40%;
    min-height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}

.project-title {
    text-align: center;
}

.project-image {
    display: flex;
    align-self: center;
    width: fit-content;
    justify-content: center;
    border: 1px solid gray;
}

.project-link {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    width: fit-content;
}

.icon-link {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.25rem;
}

.divider {
    width: inherit;
}

footer {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
    padding: 1rem;
}

.footer-message {
    font-weight: bold;
    text-align: center;
}

#nav-toggle,
.nav-hamburger {
    display: none;
}

#theme-toggle {
    all: unset;
    cursor: pointer;
    padding-right: 1rem;
}

.theme-icon {
    width: 1.5rem;
    height: 1.5rem;
}

#dark-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media only screen 
  and (max-width: 768px) {
    nav {
        flex-direction: row-reverse;
        align-items: center;
    }

    #theme-toggle {
        padding-top: 0.5rem;
    }

    .nav-links {
        display:none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
        padding: 1rem 0;
    }

    [data-theme="light"] .nav-links {
        background-color: whitesmoke;
    }

    [data-theme="dark"] .nav-links {
        background-color: #282829;
    }

    .nav-hamburger {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    #nav-toggle:checked ~ .nav-links {
        display: flex;
        flex-flow: column;
        margin-top: 258px;
        z-index: 1;
    }

    section#about {
        flex-flow: column;
        align-items: center;
    }

    .publication-panel {
        padding: 1rem;
    }

    .project-panel {
        padding: 1rem;
        max-width: 100vw;
    }

    .project-link {
        flex-flow: column;
    }

    .footer-message {
        font-size: 14px;
    }

    .footer-copyright {
        font-size: 14px;
    }
}

[data-theme='light'] *, a, body {
    color: #000000;
}

[data-theme='light'] body, [data-theme='light'] .publication-panel {
    background-color: #f8f8ff;
}

[data-theme='light'] #light-icon {
    display: none;
}

[data-theme='light'] .nav-item > a:hover {
    color: #616161;
}

[data-theme='light'] .active {
    color: #616161;
}

[data-theme='light'] header, [data-theme='light'] #publications, [data-theme='light'] footer {
    background-color: gainsboro;
}

[data-theme="light"] img, [data-theme="light"] .profile {
    filter: none;
    z-index: inherit;
}

[data-theme='light'] .divider {
    border-top: 1px solid #000000;
}

[data-theme='dark'] *, a, body {
    color: lightgray;
}

[data-theme='dark'] body {
    background-color: #212124;
}

[data-theme='dark'] #dark-icon {
    display: none;
}

[data-theme='dark'] .nav-item > a:hover {
    color: #808080;
}

[data-theme='dark'] .active {
    color: #808080;
}

[data-theme='dark'] header, [data-theme='dark'] #publications, [data-theme='dark'] footer {
    background-color: #161618;
}

[data-theme='dark'] .publication-panel, [data-theme='dark'] .project-panel {
    background-color: #101011;
}

[data-theme='dark'] .divider {
    border-top: 1px solid #d3d3d3;
}

[data-theme="dark"] img, .profile {
    filter: brightness(80%);
    z-index: 0;
}

[data-theme='dark'] .location-icon {
    fill: lightgray;
}